/*********************************************
*** Designed by Juergen Koller			   ***
*** Designers Home: http://www.LernVid.com ***
**********************************************/

body {
	background-color:#fff;
	color:#000;
	padding:10px;
	font-family:Verdana;
	font-size:14px;
}

p, ul li, ol li, address, .category-desc,
table, label, dt, dd {
  font-size:11pt
}
address {
	font-style:normal
}
.contact-address address span {
	display:block
}
a {
	font-weight: bold;
}
.article-info-term {
	display: none;
}
img {
	border:0;
}
ul.actions li {
	list-style:none;
}